<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978183878189-gqka56afp3g9o3ji85a61la1jt030o1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978183878189-gqka56afp3g9o3ji85a61la1jt030o1a</string>
	<key>API_KEY</key>
	<string>AIzaSyBemJ-vVyZDol3nCf7Pz3ub5TIXc3P85ZY</string>
	<key>GCM_SENDER_ID</key>
	<string>978183878189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aasliev.messengert</string>
	<key>PROJECT_ID</key>
	<string>t-messenger-65a03</string>
	<key>STORAGE_BUCKET</key>
	<string>t-messenger-65a03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978183878189:ios:772f9186ca89fb3f122aa4</string>
	<key>DATABASE_URL</key>
	<string>https://t-messenger-65a03.firebaseio.com</string>
</dict>
</plist>